body {
  background-color: #002200;
  color: #00cc00;
}

input {
  background-color: #00cc00;
  color: #002200;
  border: none;
  font-size:  400%;
}

::-webkit-input-placeholer {
  color: #005500;
  }


.box {
  border: 1px dashed #009900;
  text-align: center;
  height: 50px;
  min-width: 50px;
  display: inline-block;
  margin: 5px;
  line-height: 3;



}